<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The Minden, NV Daily</h1>
    <p class="lead">Checkout all the latest Carson Valley news</p>
  </div>
</div>

    <div class="container">
    {{#each articles}}
        <div class="row">
                <div class="col-"lg>
                <p>Article: {{headline}}</p>
                <p><a href="{{url}}" class="smaller">url: {{url}}</a></p>
                <button data-id="{{_id}}" class="btn btn-primary article-delete">delete article</button>
            </div>
        </div>
    {{/each}}
    </div>


